.input {
  @apply w-full border bg-accent dark:bg-input/30 border-neutral-100 dark:border-neutral-800;
}

.no-ring {
  @apply focus-visible:ring-0 focus-visible:ring-offset-0 focus:outline-none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}